
@{
    ViewBag.Title = "Present";
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}
<style>
    .presentt {
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-left: 65px;
    }
    .presentt .img {
       
        margin-right: 20px;
        align-content:center;
    }
    .presentt .img{
        text-align:center;
        

    }
    .presentt .present_header {
        font-size: 20px;
        color: #24262b;
        font-weight:500;
    }
    .text1 {
        margin-left: 2px;
        font-size: 15px;
        color: #24262b;
    }

    .presentt .p1 {
        margin-top:10px;
        font-size: 15px;
        margin-left: 3px;
        color: #24262b;
    }
    .presentt .present_body {
        font-size: 20px;
        color: #24262b;
        font-weight:500;
    }
    .presentt .present_foot {
        margin-top: 10px;
        font-size: 15px;
        margin-left: 3px;
        color: #24262b;
    }
</style>
<div class="breadcrumb-section breadcrumb-bg-color--black">
    <div class="breadcrumb-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-nav breadcrumb-nav-color--black breadcrumb-nav-hover-color--golden">
                        <nav aria-label="breadcrumb">
                            <ul>
                                <li><a href="@Url.Action("Index","Home")">Trang Chủ</a></li>
                                <li class="active" aria-current="page">
                                    Giới thiệu
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="presentt">
    <h2>Giới thiệu</h2>
    <div class="present_header">CỬA HÀNG LAPTOP KAMITO</div>
    <div class="text1">

        Cửa Hàng Laptop Và Phụ Kiện KAMITO là một trong những cửa hàng tiên phong  trong lĩnh vực công nghệ thông tin tại Hà Nội.
        <br />

        - Tên Tiếng Việt: Cửa Hàng Laptop KAMITO
        <br />

        - Tên Tiếng Anh: KAMITO Laptop Store

        <br />
        - Tên viết tắt: KMT CO.., LTD

        <br />
        - Giấy ĐKKD: Số 0103728344, cấp ngày 20/4/2019 do SKHĐT TP. Hà Nội cấp.
        <br />
        -Cơ sở 1: Số 67, Thái Hà, Đống Đa, Hà Nội
        <br />
        -Cơ sở 2: Số 56 Trần Phú, Hà Đông, Hà Nội
  
        <br />
        - Chủ cửa hàng:Lê Văn Chính
        <br />
        - Điện thoại: 0379910286
        <br />
        - Website: www.Laptopkamito.vn
        <br />
        - Mã số thuế: 0103728344
        <br />
    </div>
    <div class="img">
        <img  height="375" src="~/Content/Images/product/laptoppresent.jpg" />
        <img src="~/Content/Images/product/pk.jpg" />
    </div>
    <p class="p1">
        Kamito thương hiệu bán laptop, linh kiện laptop ,phụ kiện công nghệ chính hãng được thành lập và đi vào hoạt động bán lẻ từ năm 2013.

        Tự hào là một trong những đơn vị hàng đầu trong lĩnh vực kinh doanh laptop, linh kiện laptop tại Hà Nội, Với trên 10 năm kinh nghiệm, theo phương châm "Uy tín trên từng sản phẩm"  cùng hơn 50.000 Khách Hàng thân thiết, chúng tôi cam kết tất cả các sản phẩm laptop bán ra đều có chất lượng tốt nhất trên thị trường hiện nay. Tất cả laptop, linh kiện tại showroom đều được bảo hành chuẩn chỉ theo quy chế của các hãng.

        Với sự đa dạng về các hãng laptop được người tiêu dùng lựa chọn nhiều nhất, đa dạng nhiều mẫu mã sản phẩm. Laptop Dell, HP, Lenovo, Thinjkpad, Asus, MSI, Acer, Macbook... Laptop Gaming, Laptop đồ họa, Laptop doanh nhân cao cấp mỏng nhe, laptop văn phòng giá rẻ, linh kiện laptop chính hãng...

        Với kinh nghiệm nhiều năm trong nghề cùng với đội ngũ kỹ sư chuyên nghiệp tận tâm cửa hàng Kamito luôn luôn nỗ lực để đem tới khách hàng những sản phẩm có chất lượng tốt nhất, chế độ bảo hành và hỗ trợ tốt nhất, mức giá thành cạnh tranh phù hợp nhất, xứng đáng với từng số tiền mà khách hàng bỏ ra.

        Nếu bạn còn đang gặp khó khăn trong việc lựa chọn cho mình 1 chiếc laptop phù hợp với nhu cầu sử dụng thì hãy tới ngay cửa hàng Kamito để trải nghiệm sản phẩm và lực chọn cho mình những sản phẩm phù hợp nhất đáp ứng tốt nhu cầu sử dụng và xứng đáng với số tiền mình bỏ ra.
    </p>
    <div class="present_body">
        Các dịch vụ hiện tại cửa hàng cung cấp:
    </div>

    <p class="p1">
        - Bán buôn, bán lẻ các dòng Laptop chính hãng
        - Bán buôn, bản lẻ linh kiện, phụ kiện laptop chính hãng như RAM, Ổ cứng, màn hình, Pin, sạc, bàn phím...
    </p>
    <div class="present_body">
        Cam kết của cửa hàng Kamito với khách hàng:
    </div>
    <p class="p1">
        - Đặt khách hàng làm trung tâm của mọi suy nghĩ và hành động, nắng nghe và thấu hiểu khách hàng.
        - Chỉ mang đến cho quý khách hàng những sản phẩm chính hãng theo đúng tiêu chuẩn của nhà sản xuất, không bán hàng kém chất lượng, không bán hàng giả/ hàng nhái, không bán hàng không rõ nguồn gốc xuất xứ.
        - Giá bán sản phẩm đúng với chất lượng, giá cả cạnh tranh nhất thị trường.
        - Cam kết mang đến những chính sách, hậu mãi dịch vụ tốt nhất trước và sau bán hàng.
        cửa hàng hân hạnh được phục vụ bạn trên con đường khám phá các sản phẩm công nghệ!

    </p>
    <div class="present_foot">
        =================
        <br />
        CỬA HÀNG LAPTOP KAMITO
        <br />
        Số ĐKKD: 01008956087 - Sở KH&ĐT Hà Nội cấp ngày 23/10/2019
        Tài khoản công ty: 1212468
        Mở Tại: Ngân hàng TMCP Á Châu – Chi nhánh Hà Nội
        <br />
        🏠HỆ THỐNG CỬA HÀNG Kamito
        <br />
        ️🎯Kamoto cơ sở 1: Số 67, Thái Hà, Đống Đa, Hà Nội
        <br />
        ️🎯Kamoto cơ sở 2: Số 56 Trần Phú, Hà Đông, Hà Nội
        <br />
        📲Hotline: 037991086
        <br />
        🌎 Website: https://laptopkamito.vn/
        <br />
        🌎Facebook.com/Kamito.vn
        <br />
        🌎 https://www.youtube.com/c/KAMITOREVIEW/video
        📩Email: vanchinhle2001@gmail.com
        <br />
        🕐 Thời gian làm việc: 8h30h - 21h30 tất cả các ngày trong tuần

    </div>
</div>


<div class="service-promo-section section-top-gap-100">
    <div class="service-wrapper">
        <div class="container">
            <div class="row">
                <!-- Start Service Promo Single Item -->
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="service-promo-single-item"
                         data-aos="fade-up"
                         data-aos-delay="0">
                        <div class="image">
                            <img src="~/Content/Images/icons/service-promo-1.png" alt="image" />
                        </div>
                        <div class="content">
                            <h6 class="title">Giao Hàng Miễn Phí</h6>
                            <p>
                                Giảm 10%, giao hàng miễn phí, miễn phí đổi trả, và hơn 1000+
                                nhà bán lẽ!
                            </p>
                        </div>
                    </div>
                </div>
                <!-- End Service Promo Single Item -->
                <!-- Start Service Promo Single Item -->
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="service-promo-single-item"
                         data-aos="fade-up"
                         data-aos-delay="200">
                        <div class="image">
                            <img src="~/Content/Images/icons/service-promo-2.png" alt="image" />
                        </div>
                        <div class="content">
                            <h6 class="title">HOÀN TIỀN TRONG 30 NGÀY</h6>
                            <p>
                                Đảm bảo sự hài lòng 100%, hoặc nhận lại tiền của bạn trong
                                vòng 30 ngày!
                            </p>
                        </div>
                    </div>
                </div>
                <!-- End Service Promo Single Item -->
                <!-- Start Service Promo Single Item -->
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="service-promo-single-item"
                         data-aos="fade-up"
                         data-aos-delay="400">
                        <div class="image">
                            <img src="~/Content/Images/icons/service-promo-3.png" alt="image" />
                        </div>
                        <div class="content">
                            <h6 class="title">THANH TOÁN AN TOÀN</h6>
                            <p>
                                Bằng các phương thức thanh toán an toàn và phổ biến nhất
                                trên thế giới.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- End Service Promo Single Item -->
                <!-- Start Service Promo Single Item -->
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="service-promo-single-item"
                         data-aos="fade-up"
                         data-aos-delay="600">
                        <div class="image">
                            <img src="~/Content/Images/icons/service-promo-4.png" alt="image" />
                        </div>
                        <div class="content">
                            <h6 class="title">KHÁCH HÀNG TRUNG THÀNH</h6>
                            <p>
                                Thẻ cho 30% giao dịch mua khác của bạn với tỷ lệ hoàn tiền
                                1%.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- End Service Promo Single Item -->
            </div>
        </div>
    </div>
</div>